
@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');
:root {
  --background: rgb(217, 235, 255);
  --answer-btn: rgb(116, 196, 250);
  --answer-btn-hover: rgb(34, 145, 219);
  --correct-answers:rgb(34, 145, 219);
  --btn-color:rgb(244, 161, 255);
  --btn-color-hover: rgb(234, 102, 252);
  --error-color:rgb(121, 5, 5);
  --spinner-color:rgb(34, 145, 219);
  --transition: all 0.4s linear;
  --spacing: 1.2px;
  --radius: 5px;
  --light-shadow: 0 5px 15px rgba(0, 0, 0, 0.1);
  --dark-shadow: 0 5px 15px rgba(0, 0, 0, 0.2);
  --fixed-width: 620px;
} 



* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  font-family:'Roboto' sans-serif;
  background: var(--background);
  color: black;
  line-height: 1.5;
  font-size: 0.875rem;
}
ul {
  list-style-type: none;
}
a {
  text-decoration: none;
}
h1,
h2,
h3,
h4 {
  letter-spacing: var(--spacing);
  text-transform: capitalize;
  line-height: 1.25;
  margin-bottom: 0.75rem;
}
h1 {
  font-size: 2.5rem;
}
h2 {
  font-size: 2rem;
}
h3 {
  font-size: 1.25rem;
}
h4 {
  font-size: 0.875rem;
}
p {
  margin-bottom: 1.25rem;
  color: black;
}

main {
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.btn {
  border-radius: var(--radius);
  border-color: transparent;
  padding: 0.4rem 0.5rem;
  display: block;
  width: 50%;
  margin-left: auto;
  margin-top: 2rem;
  text-transform: capitalize;
  font-weight: 700;
  letter-spacing: var(--spacing);
  font-size: 1rem;
  background: var(--btn-color);
  color: black;
  transition: var(--transition);
  cursor: pointer;
}
.btn:hover {
  background: var(--btn-color-hover);
 
}

@keyframes spinner {
  to {
    transform: rotate(360deg);
  }
}

.loading {
  width: 6rem;
  height: 6rem;
  margin: 0 auto;
  margin-top: 10rem;
  border-radius: 50%;
  border: 3px solid #ccc;
  border-top-color: var(--loading-color);
  animation: spinner 0.6s linear infinite;
}




